@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<p id="gm">Group Members: </p>

<table id="table">
    <tr>
        <th>Student Id</th>
        <th>Full Name</th>
        <th>Email Address</th>
    </tr>
    <tr>
        <td>16110543008</td>
        <td>Zhang Naichuan</td>
        <td>m15166802275@163.com</td>
    </tr>
    <tr>
        <td>16110543018</td>
        <td>Li Chenyang</td>
        <td>1397650445@qq.com</td>
    </tr>
    <tr>
        <td>16120543088</td>
        <td>Ma Xinhang</td>
        <td>maxinhang529529@icloud.com</td>
    </tr>
    <tr>
        <td>16120543089</td>
        <td>Zhang Mengya</td>
        <td>845503304@qq.com</td>
    </tr>
    <tr>
        <td>16120543090</td>
        <td>Li Lexin</td>
        <td>438605175@qq.com</td>
    </tr>
</table>

<br/><br/><br/>

<style type="text/css">

    #gm {
        font-size:20px;
        margin-top:50px;
    }
    table {
        border-collapse:collapse;
        font-size:15px;
        margin-left:350px;
        margin-top:100px;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        text-align:center;
    }

</style>