@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Student ID:</strong> 16110543008<br />
    <strong>Name:</strong> Zhang Naichuan (Mattias Chang)<br />
    <strong><abbr title="Phone">P:</abbr></strong>
    +86 178 5331 7817<br />
    <strong>Email:</strong>   <a href="mailto:m15166802275@163.com">m15166802275@163.com</a><br />
</address>

<style type="text/css">
    address {
        margin-top:100px;
        margin-left:350px;
    }
</style>